
body {
  background-color: #FF9B9B;
}
.container {
  background-color: #CBFFA9;
  width: 500px;
  height: 700px;
  margin: 20px auto;
  border-radius: 20%;
}
.line {
  text-decoration: line-through 2px red;
}
ul, li {
  padding: 7px;
  margin: 0;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
}
h1 {
  font-family: 'Dancing Script', cursive;
}
.main {
  display: flex;
  justify-content: center;
}
img {
  padding: 10px;
}
.btn {
  margin-top: 10px;
  background-color: #45CFDD;
  padding: 10px;
  width: 50%;
  border: none;
  font-size: 20px;
}
.btn1 {
  margin-bottom: 10px;
  background-color: #F24C3D;
  padding: 10px;
  width: 50%;
  border: none;
  font-size: 20px;
}
input {
  flex: 1;
  padding: 10px;
  margin: 10px;
}

